.navbar
  &-wrap
    display: flex
    align-items: center
    height: 32px
    padding-top: 44px
    justify-content: space-between

  ul
   display: flex
   list-style: none
   li
     padding-left: 40px
   a
       text-transform: uppercase
       +Regular
       font-size: 14px
       color: #fff
       text-decoration: none
.menu
   &-button
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: transparent
    width: 30px
    height: 30px
    border: none
     
    &__line
      display: block
      width: 20px
      height: 2px
      background-color: #fed136
      margin: 2px 0
      
.logo
  img
